body {
    margin: 0px;
    height: 100vh;
}

main {
    background: linear-gradient(0deg, rgba(255,255,255,1) 49%, rgba(255,232,240,1) 95%, rgba(255,211,225,1) 100%);
    height: calc(100% - 85px);
}

header {
    border-bottom: 2px solid rgb(228, 228, 228);
}

footer {
}

#nav > * {
    margin-left: 10px;
}