body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

main {
    background: linear-gradient(0deg, rgba(255,255,255,1) 49%, rgba(255,240,245,1) 95%, rgba(255,233,240,1) 100%);
    flex-grow: 1;
}

header {
    border-bottom: 2px solid rgb(228, 228, 228);
}

footer {
}

#nav > * {
    margin-left: 10px;
}

table {
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

.table td {
    background-color: white !important;
    text-align: center;
}

.table th {
    color: white;
    background-color: #212529 !important;
    border: 1px solid #212529 !important;;
    text-align: center;
}

.createInput {
    box-shadow: 1px 1px 5px rgba(5, 21, 255, 0.15);
    border: 1px solid rgba(5, 21, 255, 0.5) !important;
}

.editInput {
    box-shadow: 1px 1px 5px rgba(55, 216, 22, 0.15);
    border: 1px solid rgba(55, 216, 22, 0.5) !important;
}