<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

<body>

<%- include('header'); %>

<main class="p-4">
    <h3>About:</h3>
    <p>This is an app I created to track my progress applying to software companies. With this app, I can keep track of all my job applications, including the company, the job position, and the domain (web, gaming, machine learning).</p>
    <p>I also keep track of my contacts at these companies, along with any review information and responses I've received. This helps me stay organized and make informed decisions about my job search.</p>
</main>

<%- include('footer'); %>

</body>
</html>
