<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

<body>

<%- include('header'); %>

<main class="p-4">
    <h3>Data</h3>

    <div class="row align-items-center">
        <div class="col-auto">
            <div class="form-group">
                <label for="entity-select">Select entity:</label>
                <select class="form-control" id="entity-select">
                    <option value="application">Application</option>
                    <option value="application_vs_status">Application VS Status</option>
                    <option value="company">Company</option>
                    <option value="company_review">Company review</option>
                    <option value="contact">Contact</option>
                    <option value="country">Country</option>
                    <option value="domain">Domain</option>
                    <option value="job_position">Job_position</option>
                    <option value="project_vs_company">Project VS company</option>
                    <option value="status">Status</option>
                    <option value="website">Website</option>
                </select>
            </div>
        </div>
        <div class="col-auto mt-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="makeEditable" id="makeEditable">
                <label class="form-check-label" for="makeEditable">Make editable</label>
            </div>
        </div>
    </div>

    <br>

    <center>
        <table id="data" class="table table-sm table-bordered">
        </table>

        <button id="create-entity-button" class="btn btn-primary d-none">Add new <span id="buttonEntitySpan"></span></button>
    </center>

</main>

<%- include('footer'); %>

<script src="res/js/data.js"></script>
  
</body>
</html>
