<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

<body>

<%- include('header'); %>

<main class="p-4">
    <h3>Data administration:</h3>

    <p></p>
</main>

<%- include('footer'); %>

</body>
</html>
